<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">New Task</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf = "myvar2" routerLink="/">Home</a>
      <a class="nav-item nav-link" *ngIf = "myvar2" routerLink="/task">Tasks</a>
      <a class="nav-item nav-link" *ngIf = "myvar2" routerLink="/user">Users</a>
      <a class="nav-item nav-link" *ngIf = "myvar1" routerLink="/login">Login</a>
            <a class="nav-item nav-link" *ngIf = "myvar2" routerLink="/logout">logout</a>


    </div>
  </div>
</nav>